:root{
  --color-primary: #594545;
  --color-white: #ffffff;
  --color-black: #333333;
  --color-gray: #eeeeee;
  --color-red: #dc3545;
}

body {
  background-color:#FFF8EA !important;
  font-family: 'Abhaya Libre';
  color: var(--color-primary);
}

.font-great-vibes {
  font-family: 'Great Vibes' !important;
}

.font-pt-sans {
  font-family: 'PT Sans', sans-serif !important;
}

h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 120%;
  text-align: center;
  margin-bottom: 0;
}
p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 130%;
  margin-bottom: 0;
}
p.small {
  margin: auto;
  font-size: 8px;
  width: 70%;
}

.btn-primary, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn {
  border-radius: .75rem;
  font-size: 14px;
}

.btn-music {
  width: 40px;
  height: 40px;
  border-radius: 25px;
  font-size: 14px;
  bottom: 20px;
  right: 20px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  background-color: var(--color-primary);
  box-shadow: 12px 18px 44px rgba(69, 78, 73, 0.1);
  transition: .5s;
  opacity: 0.5;
}
.btn-music:hover {
  background-color: rgba(69, 78, 73, 1);
  color: var(--color-white);
  transition: .5s;
}

.section-mobile {
  position: relative;
  max-width: 480px;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  min-height: calc(100vh - 50px);
}

.section-mobile .container {
  width: 100%;
  min-height: calc(100vh);
  background: rgb(255, 255, 255, 0.25);
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 20px;
}

.section-mobile-2 {
  position: relative;
  max-width: 480px;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(2px);
}

.footer {
  margin: auto;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  width: calc(100% - 30px);
}
.footer p {
  color: var(--color-primary);
}
.footer a {
  color: var(--color-primary);
}

.bg- {
  position: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-texture {
  width: 100%;
  height: 100%;
  /* background-size: 327px 343px; */
  background-size: cover;
  background-image: url('../img/bg-pattern.svg');
  margin: auto;
  opacity: .75;
}
.bg-01 {
  width: 216px;
  height: 250px;
  background-size: 216px 250px;
  background-image: url('../img/flower-top.png');
  top: -30px;
  right: -30px;
  opacity: .7;
  transform: rotate(0deg);
}
.bg-02 {
  width: 216px;
  height: 250px;
  background-size: 216px 250px;
  background-image: url('../img/flower-bottom.png');
  bottom: -30px;
  left: -30px;
  opacity: .7;
  transform: rotate(0deg);
}
.bg-1a {
  width: 70px;
  height: 117.77px;
  background-size: 70px 117.77px;
  background-image: url('../img/leaves-1.png');
  top: 0px;
  right: 70px;
  opacity: .5;
  transform: rotate(230deg);
}
.bg-1b {
  width: 70px;
  height: 117.77px;
  background-size: 70px 117.77px;
  background-image: url('../img/leaves-1.png');
  bottom: 0px;
  left: 70px;
  opacity: .5;
  transform: rotate(45deg);
}
.bg-2a {
  width: 70px;
  height: 117.77px;
  background-size: 70px 117.77px;
  background-image: url('../img/leaves-2.png');
  top: 85px;
  right: 35px;
  opacity: .5;
  transform: rotate(220deg);
}
.bg-2b {
  width: 70px;
  height: 117.77px;
  background-size: 70px 117.77px;
  background-image: url('../img/leaves-2.png');
  bottom: 85px;
  left: 35px;
  opacity: .5;
  transform: rotate(45deg);
}

.leaf {
  width: 100%;
  height: 100%;
  background-size: 400px 400px;
}
#leaf-1 {
  background-image: url('../img/leaf-1.png');
  bottom: 100px;
  opacity: .4;
  transition: 1.75s;
}
#leaf-2 {
  background-image: url('../img/leaf-2.png');
  bottom: 0px;
  opacity: .5;
  transition: 1.25s;
}
#leaf-3 {
  background-image: url('../img/leaf-3.png');
  bottom: -200px;
  opacity: .6;
  transition: 1.5s;
}
#leaf-4 {
  background-image: url('../img/leaf-4.png');
  bottom: 170px;
  opacity: .7;
  transition: 1s;
}

.pengantin {
  width: 280px;
  height: 280px;
  background-size: 280px 280px;
  background-image: url('../img/circle.png');
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pengantin h3 {
  font-size: 50px;
}
.pengantin h3.be {
  margin-top: -30px;
  margin-left: -40px;
}
.pengantin h3.jo {
  margin-top: -15px;
  margin-left: 40px;
}
.pengantin span.dan {
  position: absolute;
  padding-bottom: 45px;
  padding-left: 110px;
  font-size: 10px;
}
.pengantin .date {
  position: absolute;
  padding-top: 125px;
  padding-left: 10px;
}
.pengantin .date .mo {
  font-size: 10px;
}
.pengantin .date .da {
  font-size: 10px;
  margin: 0 10px;
  padding: 0 10px;
  border-left: 1px solid var(--color-black);
  border-right: 1px solid var(--color-black);
}
.pengantin .date .da h3 {
  font-size: 20px;
  font-weight: 700;
}
.pengantin .date .ye {
  font-size: 10px;
}

.label-name {
  padding: 0px 15px;
  width: 80%;
  height: 100px;
  margin: auto;
  background: rgba(255, 255, 255, 0.75);
  border: 1px solid var(--color-primary);
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.75;
}

.banner img {
  width: 100%;
}

.denah i {
  font-size: 50px;
  font-style: normal;
  font-weight: 900;
  color: var(--color-red)
}
.denah iframe {
  border-radius: .75rem;
  box-shadow: 12px 18px 44px rgba(69, 78, 73, 0.1);
}

#myMusic {
  position: absolute;
  z-index: 99;
  padding: 10px;
}

.music-credit {
  position: fixed;
  height: 50px;
  width: 0px;
  min-width: 0px;
  overflow: hidden;
  bottom: 15px;
  right: 0px;
  padding: 10px 0px 10px 0px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(2px);
  box-shadow: 12px 18px 44px rgba(69, 78, 73, 0.1);
  transition: .5s;
}
.music-credit.show {
  min-width: 300px;
  overflow: hidden;
  transition: .5s;
  padding: 10px 80px 10px 25px;
}
.music-credit p {
  width: 300px;
  font-size: 12px;
  color: var(--color-primary);
}
.music-credit b {
  font-size: 14px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}